p{color: #000; 
font-family: Georgia;
font-size: 20px;
}
img{float:inline-end;
border: solid;
}
.title{text-align:center;
font-size: 50px;
}
body{text-align:left;
margin-left: 1.5in;
margin-right: 1.5in;
margin-top: 1in;
margin-bottom: 1in;
}
