body{color: #000; 
font-family: Georgia;
font-size: 20px;
}
img{align-content:center;
border: solid;
height: 250px;

}
.agreed{text-align:center;
font-size: 50px;
}
p{text-align:center;
margin-left: 1.5in;
margin-right: 1.5in;
margin-top: 1in;
margin-bottom: 1in;
}
a{text-align: center;
}
